body {
    background-image: url(fundo2.jpg);
    position: relative;
    margin:0; 
    background-size:cover;
    background-repeat: no-repeat; 
   
}
#Navbar {
    display: flex;  
    height: 120px;      
    background-color: rgb(0, 0, 0);
    width: 100%;
    box-shadow: 1px 5px 20px rgba(14, 4, 4, 0.669);
    justify-content: space-around;
    align-items: center;  
    
}
#Navnarlist {
    display: flex; 
    width: 90%;
    gap: 30px; 
    align-items: center;
    letter-spacing: 4px;   
}    
a {
    text-decoration: none;
    color: aliceblue;
}
.Navbaritem {
    font-family: 'Sarala', sans-serif;
    display: flex; 
    color: white;
    font-weight: 500;
    font-size: 18px;
    list-style-type: none;
    display: inline; 
}
.Navbar_conteiner1 {
    width: 70%;
    height: auto;
    margin-left:100px ;
    letter-spacing: 4px; 
    word-spacing: 20px;
}
section {
    width: 100%;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color:rgb(250, 243, 243);
    font-family: 'Open Sans', sans-serif;
}
span {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;  
}
input {   
    display: flex;
    width: 35%;
    transition: width 0.4s ease-in-out;
    padding: 8px;
    border: 0px;
    border-radius: 4px;
    margin: 1rem;
    height: 30px;
    font-size: 20px;  
}
.formulario {
    display: grid;
    justify-items: center;

    background-image: url("imagens/formulario-de-registro.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: initial;
    
}
.info-contato {
    display: grid;
    justify-items: center;
    width: 100%;
    border: 0px ;
    border-bottom: 5px;
    color: white; 
}
.botoes {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    border: 0px ;
    border-bottom:10px;   
}
input[type=submit]:hover {
    background-color:rgb(0, 121, 20) ;
    color: white;
}
select {
    width: 150px;
    display: flex;
    padding: 8px ;
    border: none;
    border-radius: 4px;
    
    margin: 1rem;
    height: 50px;
    text-align: center;
    font-size: 20px;
}
input[type=submit] {
    width: 6rem;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 35%;
    height: 150px;
    margin-top: 1rem;
}
input[type=date] {
    width: 10rem;
    justify-content: center;
}
.info-contato span {
    color:rgb(250, 243, 243) ;
    margin-top: 2rem;
    font-size: 29px;
}
.Foto {
    width:auto;
    height:100px ;
}

.txt_cardapio2 {
    width: 100%;
    height: 50%;
}
.container-b {
   justify-content: center;
   display: flex;
   background-color:rgba(255, 140, 0, 0.889);
   width: 100%;
   height: 100%;
   align-items: center;
   
}
.txt_rodape {
    
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 0px;
    border-top: 0.4px snow;
    background-color: black;
  
}
.cnpj {
    color: aliceblue;
    height: 100%;
    width: 30%;
  
}
.midias {
    color: aliceblue;
    height: 100%;
    width: auto;
   
}
.redes {
    list-style: none;
    display: flex;
    justify-content: center;
  
}
.redes li {
    width: 4%;
    height: 100%;
    
}
