html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
} 
body {
    width: 99vw;
    height: auto;
    overflow-y: scroll;
    font-size: 100%;
    background-image: url(fundo.jpg);
    background-size: cover;
}
section {
    width: 99vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Navbar {
    display: flex;  
    height: 120px;      
    background-color: rgba(0, 0, 0, 0.89);
    width: 100%;
    box-shadow: 1px 5px 20px rgba(14, 4, 4, 0.669);
    justify-content: space-around;
    align-items: center; 
    
}
#Navnarlist {
    display: flex; 
    width: 90%;
    gap: 30px; 
    align-items: center;
    letter-spacing: 4px;    
}
a {
    text-decoration: none;
    color: aliceblue;
}
b {
    font-family:'Courier New', Courier, monospace;
}
.Navbaritem {
    font-family: 'Sarala', sans-serif;
    display: flex; 
    color: white;
    font-weight: 500;
    font-size: 18px;
    list-style-type: none;
    display: inline; 
}
.conteudo { 
     color: aliceblue;
     font-size: 20px;
     text-align: center;
     font-family: 'sans-serif';
}
.texto-rodape {
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: 32px;
     font-family: 'righteous';
     font-weight: 400;
     font-size: 64px;
     color: brown;
     line-height: 3;
}
nav {
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
}
.Foto {
    width:35;
    height:20 ;
}
.Navbar_conteiner1 {
    width: 70%;
    height: auto;
    margin-left:100px ;
    letter-spacing: 4px; 
    word-spacing: 20px;
}
.Navbar_conteiner2 {
    width: 29%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    color: aliceblue;
    height: 100vh ;
    width: 100% ;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
